In [1]:
# this is to allow you to demo how some of the functions work between RDS postgresql and python and df work
import sys
import psycopg2
sys.path.append('../')
from helper import db

In [16]:
# for selecting data
query = """SELECT * from temp_data limit 10"""
df

Empty DataFrame
Columns: [id, date, station, longitude, latitude, depth, fish_type, fish_count, region]
Index: []

In [17]:
# for inserting a  single row of data
query = """INSERT INTO temp_data (date, station) VALUES ('2019-01-01', 1)
"""
db.run_query(query)

Empty DataFrame
Columns: []
Index: []

In [19]:
# for inserting dataframes!!!! default uses 'append' unless you specify if_exists differently
import pandas as pd
test = {'date': ['2018-01-01'], 'station': [1]}
df = pd.DataFrame.from_dict(test)
df['date'] = pd.to_datetime(df['date'])
db.insert_table(table_name='temp_data', df=df)

In [2]:
# see results
query = """SELECT * from temp_data limit 10"""
df = db.run_query(query)
df

,id,date,station,longitude,latitude,depth,fish_type,fish_count,region
0,3,2019-01-01,1,None,None,None,None,None,None
1,4,2018-01-01,1,None,None,None,None,None,None

In [3]:
# make some changes to the table
df['station'] = 3
df.head()

,id,date,station,longitude,latitude,depth,fish_type,fish_count,region
0,3,2019-01-01,3,None,None,None,None,None,None
1,4,2018-01-01,3,None,None,None,None,None,None

In [4]:
# upsert the change
db.upsert(table_name='temp_data', df=df, keys=['id'])

In [5]:
# see results
query = """SELECT * from temp_data limit 10"""
df = db.run_query(query)
df

,id,date,station,longitude,latitude,depth,fish_type,fish_count,region
0,3,2019-01-01,3,None,None,None,None,None,None
1,4,2018-01-01,3,None,None,None,None,None,None

In [6]:
# delete results from table
query = """DELETE from temp_data"""
db.run_query(query)

Empty DataFrame
Columns: []
Index: []

In [7]:
# see results
query = """SELECT * from temp_data limit 10"""
df = db.run_query(query)
df

Empty DataFrame
Columns: [id, date, station, longitude, latitude, depth, fish_type, fish_count, region]
Index: []